shorttail/pkgs/Wadl/PowerApp-%3eUpdateitem.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PowerApp-&gt;Updateitem" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PowerApp -&gt; Update item" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Updateitem_Id_def" />
      <string name="ManualTriggerInput_Updateitem_Title_def" />
      <string name="ManualTriggerInput_Updateitem_LodgementQ1_def" />
      <string name="ManualTriggerInput_Updateitem_LodgementQ1Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_LodgementQ1Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_LodgementQ2_def" />
      <string name="ManualTriggerInput_Updateitem_LodgementQ2Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_LodgementQ2Comment2_def" />
      <object name="ManualTriggerInput">
        <property name="Updateitem_Id" type="integer" />
        <property name="Updateitem_Title" type="string" />
        <property name="Updateitem_LodgementQ1" type="string" />
        <property name="Updateitem_LodgementQ1Comment1" type="string" />
        <property name="Updateitem_LodgementQ1Comment2" type="string" />
        <property name="Updateitem_LodgementQ2" type="string" />
        <property name="Updateitem_LodgementQ2Comment1" type="string" />
        <property name="Updateitem_LodgementQ2Comment2" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Updateitem_Id" path="/Updateitem_Id" type="xs:long" required="true" />
            <param style="plain" name="Updateitem_Title" path="/Updateitem_Title" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_LodgementQ1" path="/Updateitem_LodgementQ1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_LodgementQ1Comment1" path="/Updateitem_LodgementQ1Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_LodgementQ1Comment2" path="/Updateitem_LodgementQ1Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_LodgementQ2" path="/Updateitem_LodgementQ2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_LodgementQ2Comment1" path="/Updateitem_LodgementQ2Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_LodgementQ2Comment2" path="/Updateitem_LodgementQ2Comment2" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>