shorttail/pkgs/Wadl/QACriteriaCreate.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="QACriteriaCreate" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="QACriteriaCreate" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Createitem_Title_def" />
      <string name="ManualTriggerInput_Createitem_TeamMember_def" />
      <string name="ManualTriggerInput_Createitem_Team_def" />
      <string name="ManualTriggerInput_Createitem_ClaimNumber_def" />
      <string name="ManualTriggerInput_Createitem_Reviewer_def" />
      <string name="ManualTriggerInput_Createitem_ReviewDate_def" />
      <string name="ManualTriggerInput_Createitem_MonthInReview_def" />
      <object name="ManualTriggerInput">
        <property name="Createitem_Title" type="string" />
        <property name="Createitem_TeamMember" type="string" />
        <property name="Createitem_Team" type="string" />
        <property name="Createitem_ClaimNumber" type="string" />
        <property name="Createitem_Reviewer" type="string" />
        <property name="Createitem_ReviewDate" type="string" />
        <property name="Createitem_MonthInReview" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Createitem_Title" path="/Createitem_Title" type="xs:string" required="true" />
            <param style="plain" name="Createitem_TeamMember" path="/Createitem_TeamMember" type="xs:string" required="true" />
            <param style="plain" name="Createitem_Team" path="/Createitem_Team" type="xs:string" required="true" />
            <param style="plain" name="Createitem_ClaimNumber" path="/Createitem_ClaimNumber" type="xs:string" required="true" />
            <param style="plain" name="Createitem_Reviewer" path="/Createitem_Reviewer" type="xs:string" required="true" />
            <param style="plain" name="Createitem_ReviewDate" path="/Createitem_ReviewDate" type="xs:string" required="true" />
            <param style="plain" name="Createitem_MonthInReview" path="/Createitem_MonthInReview" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>