shorttail/pkgs/Wadl/QACriteria_UpdateFM.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="QACriteria_UpdateFM" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="QACriteria_UpdateFM" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Updateitem_Id_def" />
      <string name="ManualTriggerInput_Updateitem_Title_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ1_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ1Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ1Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ2_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ2Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ2Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ3_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ3Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ3Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ4_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ4Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ4Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ5_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ5Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ5Comment2_def" />
      <number name="ManualTriggerInput_Updateitem_FMQ1Points_def" />
      <number name="ManualTriggerInput_Updateitem_FMQ2Points_def" />
      <number name="ManualTriggerInput_Updateitem_FMQ3Points_def" />
      <number name="ManualTriggerInput_Updateitem_FMQ4Points_def" />
      <number name="ManualTriggerInput_Updateitem_FMQ5Points_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ6_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ6Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ6Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ7_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ7Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ7Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ8_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ8Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_FMQ8Comment2_def" />
      <number name="ManualTriggerInput_Updateitem_FMQ6Points_def" />
      <number name="ManualTriggerInput_Updateitem_FMQ7Points_def" />
      <number name="ManualTriggerInput_Updateitem_FMQ8Points_def" />
      <object name="ManualTriggerInput">
        <property name="Updateitem_Id" type="integer" />
        <property name="Updateitem_Title" type="string" />
        <property name="Updateitem_FMQ1" type="string" />
        <property name="Updateitem_FMQ1Comment1" type="string" />
        <property name="Updateitem_FMQ1Comment2" type="string" />
        <property name="Updateitem_FMQ2" type="string" />
        <property name="Updateitem_FMQ2Comment1" type="string" />
        <property name="Updateitem_FMQ2Comment2" type="string" />
        <property name="Updateitem_FMQ3" type="string" />
        <property name="Updateitem_FMQ3Comment1" type="string" />
        <property name="Updateitem_FMQ3Comment2" type="string" />
        <property name="Updateitem_FMQ4" type="string" />
        <property name="Updateitem_FMQ4Comment1" type="string" />
        <property name="Updateitem_FMQ4Comment2" type="string" />
        <property name="Updateitem_FMQ5" type="string" />
        <property name="Updateitem_FMQ5Comment1" type="string" />
        <property name="Updateitem_FMQ5Comment2" type="string" />
        <property name="Updateitem_FMQ1Points" type="number" />
        <property name="Updateitem_FMQ2Points" type="number" />
        <property name="Updateitem_FMQ3Points" type="number" />
        <property name="Updateitem_FMQ4Points" type="number" />
        <property name="Updateitem_FMQ5Points" type="number" />
        <property name="Updateitem_FMQ6" type="string" />
        <property name="Updateitem_FMQ6Comment1" type="string" />
        <property name="Updateitem_FMQ6Comment2" type="string" />
        <property name="Updateitem_FMQ7" type="string" />
        <property name="Updateitem_FMQ7Comment1" type="string" />
        <property name="Updateitem_FMQ7Comment2" type="string" />
        <property name="Updateitem_FMQ8" type="string" />
        <property name="Updateitem_FMQ8Comment1" type="string" />
        <property name="Updateitem_FMQ8Comment2" type="string" />
        <property name="Updateitem_FMQ6Points" type="number" />
        <property name="Updateitem_FMQ7Points" type="number" />
        <property name="Updateitem_FMQ8Points" type="number" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Updateitem_Id" path="/Updateitem_Id" type="xs:long" required="true" />
            <param style="plain" name="Updateitem_Title" path="/Updateitem_Title" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ1" path="/Updateitem_FMQ1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ1Comment1" path="/Updateitem_FMQ1Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ1Comment2" path="/Updateitem_FMQ1Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ2" path="/Updateitem_FMQ2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ2Comment1" path="/Updateitem_FMQ2Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ2Comment2" path="/Updateitem_FMQ2Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ3" path="/Updateitem_FMQ3" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ3Comment1" path="/Updateitem_FMQ3Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ3Comment2" path="/Updateitem_FMQ3Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ4" path="/Updateitem_FMQ4" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ4Comment1" path="/Updateitem_FMQ4Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ4Comment2" path="/Updateitem_FMQ4Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ5" path="/Updateitem_FMQ5" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ5Comment1" path="/Updateitem_FMQ5Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ5Comment2" path="/Updateitem_FMQ5Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ1Points" path="/Updateitem_FMQ1Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_FMQ2Points" path="/Updateitem_FMQ2Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_FMQ3Points" path="/Updateitem_FMQ3Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_FMQ4Points" path="/Updateitem_FMQ4Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_FMQ5Points" path="/Updateitem_FMQ5Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_FMQ6" path="/Updateitem_FMQ6" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ6Comment1" path="/Updateitem_FMQ6Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ6Comment2" path="/Updateitem_FMQ6Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ7" path="/Updateitem_FMQ7" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ7Comment1" path="/Updateitem_FMQ7Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ7Comment2" path="/Updateitem_FMQ7Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ8" path="/Updateitem_FMQ8" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ8Comment1" path="/Updateitem_FMQ8Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ8Comment2" path="/Updateitem_FMQ8Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_FMQ6Points" path="/Updateitem_FMQ6Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_FMQ7Points" path="/Updateitem_FMQ7Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_FMQ8Points" path="/Updateitem_FMQ8Points" type="xs:double" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>