shorttail/pkgs/Wadl/QACRiteria_UpdateIndemnity.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="QACRiteria_UpdateIndemnity" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="QACRiteria_UpdateIndemnity" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Updateitem_Id_def" />
      <string name="ManualTriggerInput_Updateitem_Title_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ1_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ1Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ2_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ2Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ3_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ3Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ1Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ2Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ3Comment2_def" />
      <number name="ManualTriggerInput_Updateitem_IndemnityQ1Points_def" />
      <number name="ManualTriggerInput_Updateitem_IndemnityQ2Points_def" />
      <number name="ManualTriggerInput_Updateitem_IndemnityQ3Points_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ4_def" />
      <string name="ManualTriggerInput_Updateitem_Indemnityq4Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ4Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ5_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ5Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_IndemnityQ5Comment2_def" />
      <number name="ManualTriggerInput_Updateitem_IndemnityQ4Points_def" />
      <number name="ManualTriggerInput_Updateitem_indemnityQ5Points_def" />
      <object name="ManualTriggerInput">
        <property name="Updateitem_Id" type="integer" />
        <property name="Updateitem_Title" type="string" />
        <property name="Updateitem_IndemnityQ1" type="string" />
        <property name="Updateitem_IndemnityQ1Comment1" type="string" />
        <property name="Updateitem_IndemnityQ2" type="string" />
        <property name="Updateitem_IndemnityQ2Comment1" type="string" />
        <property name="Updateitem_IndemnityQ3" type="string" />
        <property name="Updateitem_IndemnityQ3Comment1" type="string" />
        <property name="Updateitem_IndemnityQ1Comment2" type="string" />
        <property name="Updateitem_IndemnityQ2Comment2" type="string" />
        <property name="Updateitem_IndemnityQ3Comment2" type="string" />
        <property name="Updateitem_IndemnityQ1Points" type="number" />
        <property name="Updateitem_IndemnityQ2Points" type="number" />
        <property name="Updateitem_IndemnityQ3Points" type="number" />
        <property name="Updateitem_IndemnityQ4" type="string" />
        <property name="Updateitem_Indemnityq4Comment1" type="string" />
        <property name="Updateitem_IndemnityQ4Comment2" type="string" />
        <property name="Updateitem_IndemnityQ5" type="string" />
        <property name="Updateitem_IndemnityQ5Comment1" type="string" />
        <property name="Updateitem_IndemnityQ5Comment2" type="string" />
        <property name="Updateitem_IndemnityQ4Points" type="number" />
        <property name="Updateitem_indemnityQ5Points" type="number" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Updateitem_Id" path="/Updateitem_Id" type="xs:long" required="true" />
            <param style="plain" name="Updateitem_Title" path="/Updateitem_Title" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ1" path="/Updateitem_IndemnityQ1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ1Comment1" path="/Updateitem_IndemnityQ1Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ2" path="/Updateitem_IndemnityQ2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ2Comment1" path="/Updateitem_IndemnityQ2Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ3" path="/Updateitem_IndemnityQ3" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ3Comment1" path="/Updateitem_IndemnityQ3Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ1Comment2" path="/Updateitem_IndemnityQ1Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ2Comment2" path="/Updateitem_IndemnityQ2Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ3Comment2" path="/Updateitem_IndemnityQ3Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ1Points" path="/Updateitem_IndemnityQ1Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ2Points" path="/Updateitem_IndemnityQ2Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ3Points" path="/Updateitem_IndemnityQ3Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ4" path="/Updateitem_IndemnityQ4" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_Indemnityq4Comment1" path="/Updateitem_Indemnityq4Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ4Comment2" path="/Updateitem_IndemnityQ4Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ5" path="/Updateitem_IndemnityQ5" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ5Comment1" path="/Updateitem_IndemnityQ5Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ5Comment2" path="/Updateitem_IndemnityQ5Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_IndemnityQ4Points" path="/Updateitem_IndemnityQ4Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_indemnityQ5Points" path="/Updateitem_indemnityQ5Points" type="xs:double" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>