shorttail/pkgs/Wadl/UpdatePayment_QACriteria.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="UpdatePayment_QACriteria" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="UpdatePayment_QACriteria" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Updateitem_Id_def" />
      <string name="ManualTriggerInput_Updateitem_Title_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ1_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ1Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ1Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ2_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ2Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ2Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ3_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ3Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ3Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ4_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ4Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ4Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ5_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ5Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_PaymentQ5Comment2_def" />
      <number name="ManualTriggerInput_Updateitem_PaymentQ1Points_def" />
      <number name="ManualTriggerInput_Updateitem_PaymentQ2Points_def" />
      <number name="ManualTriggerInput_Updateitem_PaymentQ3Points_def" />
      <number name="ManualTriggerInput_Updateitem_PaymentQ4Points_def" />
      <number name="ManualTriggerInput_Updateitem_PaymentQ5Points_def" />
      <object name="ManualTriggerInput">
        <property name="Updateitem_Id" type="integer" />
        <property name="Updateitem_Title" type="string" />
        <property name="Updateitem_PaymentQ1" type="string" />
        <property name="Updateitem_PaymentQ1Comment1" type="string" />
        <property name="Updateitem_PaymentQ1Comment2" type="string" />
        <property name="Updateitem_PaymentQ2" type="string" />
        <property name="Updateitem_PaymentQ2Comment1" type="string" />
        <property name="Updateitem_PaymentQ2Comment2" type="string" />
        <property name="Updateitem_PaymentQ3" type="string" />
        <property name="Updateitem_PaymentQ3Comment1" type="string" />
        <property name="Updateitem_PaymentQ3Comment2" type="string" />
        <property name="Updateitem_PaymentQ4" type="string" />
        <property name="Updateitem_PaymentQ4Comment1" type="string" />
        <property name="Updateitem_PaymentQ4Comment2" type="string" />
        <property name="Updateitem_PaymentQ5" type="string" />
        <property name="Updateitem_PaymentQ5Comment1" type="string" />
        <property name="Updateitem_PaymentQ5Comment2" type="string" />
        <property name="Updateitem_PaymentQ1Points" type="number" />
        <property name="Updateitem_PaymentQ2Points" type="number" />
        <property name="Updateitem_PaymentQ3Points" type="number" />
        <property name="Updateitem_PaymentQ4Points" type="number" />
        <property name="Updateitem_PaymentQ5Points" type="number" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Updateitem_Id" path="/Updateitem_Id" type="xs:long" required="true" />
            <param style="plain" name="Updateitem_Title" path="/Updateitem_Title" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ1" path="/Updateitem_PaymentQ1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ1Comment1" path="/Updateitem_PaymentQ1Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ1Comment2" path="/Updateitem_PaymentQ1Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ2" path="/Updateitem_PaymentQ2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ2Comment1" path="/Updateitem_PaymentQ2Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ2Comment2" path="/Updateitem_PaymentQ2Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ3" path="/Updateitem_PaymentQ3" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ3Comment1" path="/Updateitem_PaymentQ3Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ3Comment2" path="/Updateitem_PaymentQ3Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ4" path="/Updateitem_PaymentQ4" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ4Comment1" path="/Updateitem_PaymentQ4Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ4Comment2" path="/Updateitem_PaymentQ4Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ5" path="/Updateitem_PaymentQ5" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ5Comment1" path="/Updateitem_PaymentQ5Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ5Comment2" path="/Updateitem_PaymentQ5Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_PaymentQ1Points" path="/Updateitem_PaymentQ1Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_PaymentQ2Points" path="/Updateitem_PaymentQ2Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_PaymentQ3Points" path="/Updateitem_PaymentQ3Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_PaymentQ4Points" path="/Updateitem_PaymentQ4Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_PaymentQ5Points" path="/Updateitem_PaymentQ5Points" type="xs:double" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>