shorttail/pkgs/Wadl/UpdateRiskManagement_QACriteria.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="UpdateRiskManagement_QACriteria" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="UpdateRiskManagement_QACriteria" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Updateitem_Id_def" />
      <string name="ManualTriggerInput_Updateitem_Title_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ1_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ2_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ3_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ4_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ5_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ6_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ1Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ2Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ3Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ4Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ5Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ6Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ1Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ2Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ3Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ4Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ5Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_CICRMQ6Comment2_def" />
      <number name="ManualTriggerInput_Updateitem_RMQ1Points_def" />
      <number name="ManualTriggerInput_Updateitem_RMQ2Points_def" />
      <number name="ManualTriggerInput_Updateitem_RMQ3Points_def" />
      <number name="ManualTriggerInput_Updateitem_RMQ4Points_def" />
      <number name="ManualTriggerInput_Updateitem_RMQ5Points_def" />
      <number name="ManualTriggerInput_Updateitem_RMQ6Points_def" />
      <object name="ManualTriggerInput">
        <property name="Updateitem_Id" type="integer" />
        <property name="Updateitem_Title" type="string" />
        <property name="Updateitem_CICRMQ1" type="string" />
        <property name="Updateitem_CICRMQ2" type="string" />
        <property name="Updateitem_CICRMQ3" type="string" />
        <property name="Updateitem_CICRMQ4" type="string" />
        <property name="Updateitem_CICRMQ5" type="string" />
        <property name="Updateitem_CICRMQ6" type="string" />
        <property name="Updateitem_CICRMQ1Comment1" type="string" />
        <property name="Updateitem_CICRMQ2Comment1" type="string" />
        <property name="Updateitem_CICRMQ3Comment1" type="string" />
        <property name="Updateitem_CICRMQ4Comment1" type="string" />
        <property name="Updateitem_CICRMQ5Comment1" type="string" />
        <property name="Updateitem_CICRMQ6Comment1" type="string" />
        <property name="Updateitem_CICRMQ1Comment2" type="string" />
        <property name="Updateitem_CICRMQ2Comment2" type="string" />
        <property name="Updateitem_CICRMQ3Comment2" type="string" />
        <property name="Updateitem_CICRMQ4Comment2" type="string" />
        <property name="Updateitem_CICRMQ5Comment2" type="string" />
        <property name="Updateitem_CICRMQ6Comment2" type="string" />
        <property name="Updateitem_RMQ1Points" type="number" />
        <property name="Updateitem_RMQ2Points" type="number" />
        <property name="Updateitem_RMQ3Points" type="number" />
        <property name="Updateitem_RMQ4Points" type="number" />
        <property name="Updateitem_RMQ5Points" type="number" />
        <property name="Updateitem_RMQ6Points" type="number" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Updateitem_Id" path="/Updateitem_Id" type="xs:long" required="true" />
            <param style="plain" name="Updateitem_Title" path="/Updateitem_Title" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ1" path="/Updateitem_CICRMQ1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ2" path="/Updateitem_CICRMQ2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ3" path="/Updateitem_CICRMQ3" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ4" path="/Updateitem_CICRMQ4" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ5" path="/Updateitem_CICRMQ5" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ6" path="/Updateitem_CICRMQ6" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ1Comment1" path="/Updateitem_CICRMQ1Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ2Comment1" path="/Updateitem_CICRMQ2Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ3Comment1" path="/Updateitem_CICRMQ3Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ4Comment1" path="/Updateitem_CICRMQ4Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ5Comment1" path="/Updateitem_CICRMQ5Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ6Comment1" path="/Updateitem_CICRMQ6Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ1Comment2" path="/Updateitem_CICRMQ1Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ2Comment2" path="/Updateitem_CICRMQ2Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ3Comment2" path="/Updateitem_CICRMQ3Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ4Comment2" path="/Updateitem_CICRMQ4Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ5Comment2" path="/Updateitem_CICRMQ5Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CICRMQ6Comment2" path="/Updateitem_CICRMQ6Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_RMQ1Points" path="/Updateitem_RMQ1Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_RMQ2Points" path="/Updateitem_RMQ2Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_RMQ3Points" path="/Updateitem_RMQ3Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_RMQ4Points" path="/Updateitem_RMQ4Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_RMQ5Points" path="/Updateitem_RMQ5Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_RMQ6Points" path="/Updateitem_RMQ6Points" type="xs:double" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>