shorttail/pkgs/Wadl/UpdateOther_QACriteria.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="UpdateOther_QACriteria" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="UpdateOther_QACriteria" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Updateitem_Id_def" />
      <string name="ManualTriggerInput_Updateitem_Title_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ1_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ2_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ3_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ4_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ5_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ1Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ2Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ3Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ4Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ5Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ1Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ2Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ3Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ4Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_MOSPQ5Comment2_def" />
      <number name="ManualTriggerInput_Updateitem_OtherQ1Points_def" />
      <number name="ManualTriggerInput_Updateitem_OtherQ2Points_def" />
      <number name="ManualTriggerInput_Updateitem_OtherQ3Points_def" />
      <number name="ManualTriggerInput_Updateitem_OtherQ4Points_def" />
      <number name="ManualTriggerInput_Updateitem_OtherQ5Points_def" />
      <object name="ManualTriggerInput">
        <property name="Updateitem_Id" type="integer" />
        <property name="Updateitem_Title" type="string" />
        <property name="Updateitem_MOSPQ1" type="string" />
        <property name="Updateitem_MOSPQ2" type="string" />
        <property name="Updateitem_MOSPQ3" type="string" />
        <property name="Updateitem_MOSPQ4" type="string" />
        <property name="Updateitem_MOSPQ5" type="string" />
        <property name="Updateitem_MOSPQ1Comment1" type="string" />
        <property name="Updateitem_MOSPQ2Comment1" type="string" />
        <property name="Updateitem_MOSPQ3Comment1" type="string" />
        <property name="Updateitem_MOSPQ4Comment1" type="string" />
        <property name="Updateitem_MOSPQ5Comment1" type="string" />
        <property name="Updateitem_MOSPQ1Comment2" type="string" />
        <property name="Updateitem_MOSPQ2Comment2" type="string" />
        <property name="Updateitem_MOSPQ3Comment2" type="string" />
        <property name="Updateitem_MOSPQ4Comment2" type="string" />
        <property name="Updateitem_MOSPQ5Comment2" type="string" />
        <property name="Updateitem_OtherQ1Points" type="number" />
        <property name="Updateitem_OtherQ2Points" type="number" />
        <property name="Updateitem_OtherQ3Points" type="number" />
        <property name="Updateitem_OtherQ4Points" type="number" />
        <property name="Updateitem_OtherQ5Points" type="number" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Updateitem_Id" path="/Updateitem_Id" type="xs:long" required="true" />
            <param style="plain" name="Updateitem_Title" path="/Updateitem_Title" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ1" path="/Updateitem_MOSPQ1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ2" path="/Updateitem_MOSPQ2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ3" path="/Updateitem_MOSPQ3" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ4" path="/Updateitem_MOSPQ4" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ5" path="/Updateitem_MOSPQ5" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ1Comment1" path="/Updateitem_MOSPQ1Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ2Comment1" path="/Updateitem_MOSPQ2Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ3Comment1" path="/Updateitem_MOSPQ3Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ4Comment1" path="/Updateitem_MOSPQ4Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ5Comment1" path="/Updateitem_MOSPQ5Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ1Comment2" path="/Updateitem_MOSPQ1Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ2Comment2" path="/Updateitem_MOSPQ2Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ3Comment2" path="/Updateitem_MOSPQ3Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ4Comment2" path="/Updateitem_MOSPQ4Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_MOSPQ5Comment2" path="/Updateitem_MOSPQ5Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_OtherQ1Points" path="/Updateitem_OtherQ1Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_OtherQ2Points" path="/Updateitem_OtherQ2Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_OtherQ3Points" path="/Updateitem_OtherQ3Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_OtherQ4Points" path="/Updateitem_OtherQ4Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_OtherQ5Points" path="/Updateitem_OtherQ5Points" type="xs:double" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>