shorttail/pkgs/Wadl/UpdateCM_QACriteria.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="UpdateCM_QACriteria" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="UpdateCM_QACriteria" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Updateitem_Id_def" />
      <string name="ManualTriggerInput_Updateitem_Title_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ1_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ1Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ1Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ2_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ2Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ2Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ3_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ3Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ3Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ4_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ4Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_CMSQ4Comment2_def" />
      <number name="ManualTriggerInput_Updateitem_CMQ1Points_def" />
      <number name="ManualTriggerInput_Updateitem_CMQ2Points_def" />
      <number name="ManualTriggerInput_Updateitem_CMQ3Points_def" />
      <number name="ManualTriggerInput_Updateitem_CMQ4Points_def" />
      <object name="ManualTriggerInput">
        <property name="Updateitem_Id" type="integer" />
        <property name="Updateitem_Title" type="string" />
        <property name="Updateitem_CMSQ1" type="string" />
        <property name="Updateitem_CMSQ1Comment1" type="string" />
        <property name="Updateitem_CMSQ1Comment2" type="string" />
        <property name="Updateitem_CMSQ2" type="string" />
        <property name="Updateitem_CMSQ2Comment1" type="string" />
        <property name="Updateitem_CMSQ2Comment2" type="string" />
        <property name="Updateitem_CMSQ3" type="string" />
        <property name="Updateitem_CMSQ3Comment1" type="string" />
        <property name="Updateitem_CMSQ3Comment2" type="string" />
        <property name="Updateitem_CMSQ4" type="string" />
        <property name="Updateitem_CMSQ4Comment1" type="string" />
        <property name="Updateitem_CMSQ4Comment2" type="string" />
        <property name="Updateitem_CMQ1Points" type="number" />
        <property name="Updateitem_CMQ2Points" type="number" />
        <property name="Updateitem_CMQ3Points" type="number" />
        <property name="Updateitem_CMQ4Points" type="number" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Updateitem_Id" path="/Updateitem_Id" type="xs:long" required="true" />
            <param style="plain" name="Updateitem_Title" path="/Updateitem_Title" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ1" path="/Updateitem_CMSQ1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ1Comment1" path="/Updateitem_CMSQ1Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ1Comment2" path="/Updateitem_CMSQ1Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ2" path="/Updateitem_CMSQ2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ2Comment1" path="/Updateitem_CMSQ2Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ2Comment2" path="/Updateitem_CMSQ2Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ3" path="/Updateitem_CMSQ3" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ3Comment1" path="/Updateitem_CMSQ3Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ3Comment2" path="/Updateitem_CMSQ3Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ4" path="/Updateitem_CMSQ4" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ4Comment1" path="/Updateitem_CMSQ4Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMSQ4Comment2" path="/Updateitem_CMSQ4Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_CMQ1Points" path="/Updateitem_CMQ1Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_CMQ2Points" path="/Updateitem_CMQ2Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_CMQ3Points" path="/Updateitem_CMQ3Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_CMQ4Points" path="/Updateitem_CMQ4Points" type="xs:double" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>