shorttail/pkgs/Wadl/UpdateProActivity_QACriteria.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="UpdateProActivity_QACriteria" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="UpdateProActivity_QACriteria" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Updateitem_Id_def" />
      <string name="ManualTriggerInput_Updateitem_Title_def" />
      <string name="ManualTriggerInput_Updateitem_ProActivityQ1_def" />
      <string name="ManualTriggerInput_Updateitem_ProActivityQ1Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_ProActivityQ1Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_ProActivityQ2_def" />
      <string name="ManualTriggerInput_Updateitem_ProActivityQ2Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_ProActivityQ2Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_ProActivityQ3_def" />
      <string name="ManualTriggerInput_Updateitem_ProActivityQ3Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_ProActivityQ3Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_ProActiveQ1Points_def" />
      <number name="ManualTriggerInput_Updateitem_ProActiveQ2Points_def" />
      <number name="ManualTriggerInput_Updateitem_ProActiveQ3Points_def" />
      <object name="ManualTriggerInput">
        <property name="Updateitem_Id" type="integer" />
        <property name="Updateitem_Title" type="string" />
        <property name="Updateitem_ProActivityQ1" type="string" />
        <property name="Updateitem_ProActivityQ1Comment1" type="string" />
        <property name="Updateitem_ProActivityQ1Comment2" type="string" />
        <property name="Updateitem_ProActivityQ2" type="string" />
        <property name="Updateitem_ProActivityQ2Comment1" type="string" />
        <property name="Updateitem_ProActivityQ2Comment2" type="string" />
        <property name="Updateitem_ProActivityQ3" type="string" />
        <property name="Updateitem_ProActivityQ3Comment1" type="string" />
        <property name="Updateitem_ProActivityQ3Comment2" type="string" />
        <property name="Updateitem_ProActiveQ1Points" type="string" />
        <property name="Updateitem_ProActiveQ2Points" type="number" />
        <property name="Updateitem_ProActiveQ3Points" type="number" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Updateitem_Id" path="/Updateitem_Id" type="xs:long" required="true" />
            <param style="plain" name="Updateitem_Title" path="/Updateitem_Title" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_ProActivityQ1" path="/Updateitem_ProActivityQ1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_ProActivityQ1Comment1" path="/Updateitem_ProActivityQ1Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_ProActivityQ1Comment2" path="/Updateitem_ProActivityQ1Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_ProActivityQ2" path="/Updateitem_ProActivityQ2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_ProActivityQ2Comment1" path="/Updateitem_ProActivityQ2Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_ProActivityQ2Comment2" path="/Updateitem_ProActivityQ2Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_ProActivityQ3" path="/Updateitem_ProActivityQ3" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_ProActivityQ3Comment1" path="/Updateitem_ProActivityQ3Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_ProActivityQ3Comment2" path="/Updateitem_ProActivityQ3Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_ProActiveQ1Points" path="/Updateitem_ProActiveQ1Points" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_ProActiveQ2Points" path="/Updateitem_ProActiveQ2Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_ProActiveQ3Points" path="/Updateitem_ProActiveQ3Points" type="xs:double" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>