shorttail/pkgs/Wadl/UpdateEstimate_QACriteria.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://australia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="UpdateEstimate_QACriteria" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="UpdateEstimate_QACriteria" />
  <grammars>
    <jsonTypes targetNamespace="https://australia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Updateitem_Id_def" />
      <string name="ManualTriggerInput_Updateitem_Title_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ1_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ2_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ3_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ4_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ5_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ1Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ2Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ3Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ4Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ5Comment1_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ1Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ2Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ3Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ4Comment2_def" />
      <string name="ManualTriggerInput_Updateitem_EstimatesQ5Comment2_def" />
      <number name="ManualTriggerInput_Updateitem_EstimateQ1Points_def" />
      <number name="ManualTriggerInput_Updateitem_EstimateQ2Points_def" />
      <number name="ManualTriggerInput_Updateitem_EstimateQ3Points_def" />
      <number name="ManualTriggerInput_Updateitem_EstimateQ4Points_def" />
      <number name="ManualTriggerInput_Updateitem_EstimateQ5Points_def" />
      <object name="ManualTriggerInput">
        <property name="Updateitem_Id" type="integer" />
        <property name="Updateitem_Title" type="string" />
        <property name="Updateitem_EstimatesQ1" type="string" />
        <property name="Updateitem_EstimatesQ2" type="string" />
        <property name="Updateitem_EstimatesQ3" type="string" />
        <property name="Updateitem_EstimatesQ4" type="string" />
        <property name="Updateitem_EstimatesQ5" type="string" />
        <property name="Updateitem_EstimatesQ1Comment1" type="string" />
        <property name="Updateitem_EstimatesQ2Comment1" type="string" />
        <property name="Updateitem_EstimatesQ3Comment1" type="string" />
        <property name="Updateitem_EstimatesQ4Comment1" type="string" />
        <property name="Updateitem_EstimatesQ5Comment1" type="string" />
        <property name="Updateitem_EstimatesQ1Comment2" type="string" />
        <property name="Updateitem_EstimatesQ2Comment2" type="string" />
        <property name="Updateitem_EstimatesQ3Comment2" type="string" />
        <property name="Updateitem_EstimatesQ4Comment2" type="string" />
        <property name="Updateitem_EstimatesQ5Comment2" type="string" />
        <property name="Updateitem_EstimateQ1Points" type="number" />
        <property name="Updateitem_EstimateQ2Points" type="number" />
        <property name="Updateitem_EstimateQ3Points" type="number" />
        <property name="Updateitem_EstimateQ4Points" type="number" />
        <property name="Updateitem_EstimateQ5Points" type="number" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://australia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Updateitem_Id" path="/Updateitem_Id" type="xs:long" required="true" />
            <param style="plain" name="Updateitem_Title" path="/Updateitem_Title" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ1" path="/Updateitem_EstimatesQ1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ2" path="/Updateitem_EstimatesQ2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ3" path="/Updateitem_EstimatesQ3" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ4" path="/Updateitem_EstimatesQ4" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ5" path="/Updateitem_EstimatesQ5" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ1Comment1" path="/Updateitem_EstimatesQ1Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ2Comment1" path="/Updateitem_EstimatesQ2Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ3Comment1" path="/Updateitem_EstimatesQ3Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ4Comment1" path="/Updateitem_EstimatesQ4Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ5Comment1" path="/Updateitem_EstimatesQ5Comment1" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ1Comment2" path="/Updateitem_EstimatesQ1Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ2Comment2" path="/Updateitem_EstimatesQ2Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ3Comment2" path="/Updateitem_EstimatesQ3Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ4Comment2" path="/Updateitem_EstimatesQ4Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimatesQ5Comment2" path="/Updateitem_EstimatesQ5Comment2" type="xs:string" required="true" />
            <param style="plain" name="Updateitem_EstimateQ1Points" path="/Updateitem_EstimateQ1Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_EstimateQ2Points" path="/Updateitem_EstimateQ2Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_EstimateQ3Points" path="/Updateitem_EstimateQ3Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_EstimateQ4Points" path="/Updateitem_EstimateQ4Points" type="xs:double" required="true" />
            <param style="plain" name="Updateitem_EstimateQ5Points" path="/Updateitem_EstimateQ5Points" type="xs:double" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>